{% extends "base.twig" %}

{% block content %}


<div class="container home">

	{% if page == 1 %}
		<div class="row">
			{% for post in posts|slice(0, 4) %}
				{% include ['tease'~post.post_type~'.twig', 'tease-image.twig'] %}
			{% endfor %}
		</div>
		<div class="row">
				{% for post in posts|slice(4) %}
					{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
				{% endfor %}
		</div>
	{% else %}
		<div class="row">
				{% for post in posts %}
					{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
				{% endfor %}
		</div>


	{% endif %}

	{% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}

</div>
{% endblock %}


