{% if menu %}
	<div id="navbarNavDarkDropdown" class="navbar-collapse collapse">
		<ul id="main-menu" class="navbar-nav navbar-dark ms-auto">
	{% for item in items %}
			<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" class="menu-item nav-item"><a class="nav-link" title="ilm"  href="{{ item.link }}">{{ item.title }}</a></li>
	{% endfor %}
		</ul>
	</div>
{% endif %}
